@media only screen and (max-width: 1300px) {
	.container{
		width: 95% !important;
	}
	.popup-wrapper {
		width: 30%;
	}
}
@media	only screen and (max-width:  1024px){
	.footer::after {
		height: 30%;
	}
	.navigation ul {
		column-gap: 0px;
	}
	.navigation ul li a {
		font-size: 16px;
	}
	.popup-wrapper {
		width: 40%;
	}
}

@media only screen and (max-width: 850px) {
	.navigation ul {
		display: none;
	}
	.mobile-bar-wrapper {
		display: block;
		text-align: right;
	}
	.navigation ul {
		position: absolute;
		left: 0;
		background: var(--themeColor);
		width: 100%;
		z-index: 11;
		overflow: hidden;
	}
	.navigation ul li:first-child {
		display: none;
	}
	.navigation ul li a {
		font-size: 16px;
		width: 100%;
	}
	.bar-btn {
		background: var(--red);
		border: 0;
		color: #fff;
		font-size: 15px;
		padding: 8px;
	}
	.news-title h1 a {
		font-size: 24px;
		line-height: 32px;
		padding: 0px 5px;
	}
	.news-item .news-image img {
		height: 350px;
	}
	.other-news-item .other-news-title h1 a {
		font-size: 24px;
	}
	.other-news-section .other-news-items {
		row-gap: 10px;
	}
	.other-news-item .other-news-info {
		margin-top: 10px;
	}
	.category-news-content .news-title h1 a, .category-news-content .news-title h1 {
		font-size: 16px;
		line-height: 22px;
	}
	.category-news-one-section .category-news-image img {
		object-fit: cover;
		height: 100px;
	}
	.news-content p, .news-content {
		margin-top: 0px;
	}
	#category-news-two-section .category-news-items .category-news-item .category-news-image img {
		height: 120px;
	}
	.latest-news-image img {
		height: 51px;
	}
	.footer-items .footer-item {
		width: 50%;
	}
	.footer-items .footer-item:last-child {
		width: 100%;
	}
	.team-items {
		grid-row-gap: 15px;
	}
	.category-news-one-section .category-news-items {
    	grid-template-columns: repeat(1, 1fr);
    }
}


@media only screen and (max-width: 767px) {
	.category-news-one-section .category-news-item {
		width: 100%;
	}
	.category-news-one-section .category-news-image img {
		height: 120px;
	}
	#category-news-two-section .category-news-items .category-news-item:first-child {
		grid-area: 1 / 1 /span 2 / span 4;
	}
	.breaking-news-other-btn-section .breaking-news-block {
		width: 100%;
	}
	.breaking-news-other-btn-section .other-btn-block {
		width: 100%;
		margin-top: 15px;
	}
	#category-news-two-section .category-news-items {
		display: flex !important;
		justify-content: space-between;
	}
	
	#category-news-two-section .category-news-item {
		width: calc(100% / 2 - 11px);
	}
	
	.footer::after {
		height: 23%;
	}
	.sidebar-news-wrapper {
		width: 100%;
	}
	.left-contact-wrapper {
		width: 100%;
	}
	.form-group input.form-input {	
		padding: 0px;
	}
	.single-news-wapper {
		width: 100%;
		margin-bottom: 15px;
	}
	.single-news-image img {
		height: 275px;
	}
	.single-content-wrapper h1 {
		font-size: 24px;
		line-height: 32px;
	}
	.category-list-block {
		width: 100%;
		margin-bottom: 15px;
	}
	.category-list-content-wrapper h1 {
		font-size: 18px;
	}
	.category-list-image img {
	height: 97px;
}
.popup-wrapper {
		width: 60%;
	}
}

@media only screen and (max-width: 680px) {
	#category-news-three-section .category-news-items {
		grid-template-columns: repeat(2,1fr);
	}
}

@media only screen and (max-width: 640px) {
	.latest-news-items {
		grid-template-columns: repeat(2,1fr);
	}
	.breaking-news-block .breaking-news-btn {
		width: 100%;
	}
	.breaking-news-block .breaking-news-content {
		width: 100%;
	}
	.category-title h1 {
		font-size: 36px;
	}
	.category-title h1::after {
		border-top: 56px solid #e68111;
	}
	.popup-wrapper {
		width: 80%;
	}
}
@media only screen and (max-width: 480px) {
	#category-news-two-section .category-news-items .category-news-item .category-news-image img {
		height: 120px;
	}
	#category-news-three-section .category-news-image img {
		height: 120px;
	}
	.category-news-one-section .category-news-image img {
		height: 100px;
	}
	.footer-contact-list li {
		line-height: 25px;
		font-size: 13px;
	}
	.footer-nav-list li {
		line-height: 35px;
	}
	.team-item p {
		font-size: 14px;
	}
	.team-item h5 {
		font-size: 15px;
	}
	
	.news-item .news-image img {
		height: 250px;
	}
	.news-title h1 a {
		font-size: 21px;
		line-height: 30px;
	}
	.other-news-item .other-news-title h1 a {
		font-size: 21px;
		line-height: 30px;

	}
	.popup-wrapper {
		width: 100%;
	}
}

@media only screen and (max-width:  420px){
	.latest-news-items {
		grid-template-columns: repeat(1,1fr);
	}
}