body{
	margin: 0px;
	padding: 0px;
	  font-family: 'Open Sans';
	overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
	 font-family: 'Roboto';
}
p{
	margin: 0px;
}
ul,ol{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
a{
	display: inline-block;
	text-decoration: none !important;
}
span{
	display: inline-block;
}
:root {
  --black: #000;
  --white: #fff;
  --themeColor:#e68111;
  --primaryColor: #0089d0;
  --red:#ed1c24;
}


.container{
	max-width:1250px;
	margin: 0px auto;
}

.row-wrapper{
	display: flex;
	flex-flow: row wrap;
}
.advertisement-img img {
	width: 100%;
}
.category-title-wrapper{
	margin-bottom: 30px;
}
.category-title{
	background: none;
	-webkit-border-radius: 0;
	border-radius: 0;
	position: relative;
	border-top: 10px solid #e68111;
}
.category-title h1{
	background: #e68111;
	position: relative;
	display: inline-block;
	color: #fff;
	font-weight: 600;
	padding: 10px 5px 10px 20px;
	line-height: 1;
	font-size: 48px;
}
.category-title h1::after {
	position: absolute;
	content: '';
	top: 0;
	left: 100%;
	border-top: 69px solid #e68111;
	border-right: 34px solid transparent;
}

/** margin top **/
.mt-10{
	margin-top: 10px;
}
.mt-20{
	margin-top: 20px;
}
.mt-30{
	margin-top: 30px;
}
.mt-40{
	margin-top: 40px;
}
.mt-50{
	margin-top: 50px;
}
/** end of margin top **/

/** margin bottom **/
.mb-10{
	margin-bottom: 10px;
}
.mb-20{
	margin-bottom: 20px;
}
.mb-30{
	margin-bottom: 30px;
}
.mb-40{
	margin-bottom: 40px;
}
.mb-50{
	margin-bottom: 50px;
}

/** end of margin bottom **/