/**top  header section css **/
.mobile-bar-wrapper{
	display: none;
}
.top-header-section{
	display: block;
	overflow: hidden;
}
.top-header-block {
    background: var(--primaryColor);
    padding: 7px 0px;
}
.top-header-block .top-left-nav ul {
    display: flex;
    column-gap: 16px;
}
.top-left-nav ul li{
	position: relative;
}
 .top-left-nav li::after{	
 	position: absolute;
 	content: '';
 	width:1px;
 	height:15px;
 	right: -8px;
 	top: 3px;
 	background:#fafafa;

 }
.top-left-nav ul li a{
	color: var(--white);
	font-size: 13px;
	transition: 0.8s;

}
.top-left-nav ul li a:hover{
	font-size: 12px;
}
.middle-header-block{
	padding: 10px 0px;
}
.middle-header-block .row-wrapper {
    align-items: center;
    justify-content: space-between;
}
.middle-header-block .logo-block{
	width: 10%;
}
.logo-block img{
	width: 100%;
}
.header-advertiment-block {
    width: 85%;
}
.header-advertiment-block .advertisement-img img{
	width: 100%;
}

.top-left-nav ul li:last-child:after {
    display: none;
}
/** end of top header section **/



/** header section **/
.header-section{
	background: var(--themeColor);
	height: 45px;
}
.header-section .navigation {
    line-height: 45px;
    position: relative;
}
.navigation ul {
    display: flex;
}
.navigation ul li a {
    font-size: 18px;
    color: var(--white);
    padding: 0px 15px;
    transition: 0.8s;
}
.navigation ul li a.home-page{
	background: var(--red);
}
.navigation ul li a:hover{
	background: var(--red);
}

/** end of header section **/


/** breaking news section **/
.breaking-news-other-btn-section{
	margin: 15px 0px;
}
.breaking-news-other-btn-section .row-wrapper{
	justify-content: space-between;
}
.breaking-news-other-btn-section .breaking-news-block {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.breaking-news-block .breaking-news-btn {
    width:20%;
}
.breaking-news-block  .breaking-news-content {
    width: 79%;
    border: 1px solid #ccc;
    height: 40px;
    display: flex;
    align-items: center;
}
.breaking-news-btn button {
    width: 100%;
    background: var(--red);
    color: var(--white);
    border: 0;
    height: 40px;
    font-size: 16px;
}
.breaking-news-other-btn-section .other-btn-block{
	width: 19%;
    display: flex;
    flex-flow: row wrap;
}
.other-btn-block .other-button-item{
	width: calc(100% / 2);
}
.other-btn-block .other-button-item button {
    height: 40px;
    width: 100%;
    border: 0px;
    color: #fff;
    font-size: 16px;
}
.other-btn-block .other-button-item:first-child button{
	background: var(--primaryColor);
}
.other-btn-block .other-button-item:last-child button{
	background: var(--red);
}
/** end of breaking news section **/
/**news banner section **/
.news-banner-section{
	display: block;
	width: 100%;
}
.news-banner-section .news-items{
	
}
.news-items .news-item{
	position: relative;
	overflow: hidden;
}
.news-item .news-image img{
	width: 100%;
	height: 430px;
	object-fit: cover;
}
.news-items .news-title{
	width: 100%;
	background: rgba(0,0,0,0.5);
	position: absolute;
	bottom: 4px;
	left: 0px;
	right: 0px;
	padding: 15px 0px;
}

.news-title h1 a{
	font-size: 28px;
	line-height: 38px;
	color:var(--white);
	text-align: center;
	display: block;
	width: 100%;

}
.news-title h1    :hover{
	color: var(--red) !important;
}
.news-title h1 a   :hover{
	color: var(--red) !Important;
}
/** end of news banner section **/
/** other news info **/
.other-news-section{
	margin: 30px 0px;
}
.other-news-section .other-news-items{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	row-gap:20px;
}
 .other-news-items .other-news-item{
 	width: 100%;
 	border-bottom: 1px solid #ccc;
 	padding-bottom: 20px;
 }
.other-news-items .other-news-item:last-child {
	border: 0px;
}
.other-news-item .other-news-title h1{
}
.other-news-item .other-news-title h1 a{
	font-size:28px;
	color:var(--black);
	display: block;
	text-align: center;
	transition: 0.8s;
}
.other-news-item .other-news-title h1 a:hover{
	font-size: 27px;
}
.other-news-item .other-news-info{
	display: flex;
	flex-flow:row wrap;
	justify-content: center;
	column-gap: 20px;
	margin-top: 20px;
}
.other-news-info span{
	font-size: 13px;
	font-weight:600;
}
.other-news-info .writer-info span{
	color:var(--themeColor);
}
.other-news-info .published-date span{
	color: var(--primaryColor);
}
.other-news-info i{
	font-size: 12px;
}
.other-news-info .writer-info,.other-news-info .published-date {
	display: flex;
	align-items: center;
	column-gap: 5px;
}
.other-news-info .writer-info img{
	height: 16px;
}

/** end of other news info **/
/** category news one section **/
.category-news-items {
	display: flex;
	flex-flow: row wrap;
}
.news-date {
	font-size: 12px;
	color: #777;
}
.category-news-image img{
	width: 100%;
}
.category-news-one-section{
	display: block;
	overflow: hidden;
}
.category-news-one-section .category-news-items {

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-row-gap: 20px;
	grid-column-gap: 20px;
}
.category-news-one-section .category-news-item {
	display: flex;
	justify-content: space-between;
	
	
}

.category-news-one-section .category-news-image{
	width: 30%;
}
.category-news-one-section .category-news-content {
	width: 67%;
}
.category-news-one-section .category-news-image img {
	object-fit: cover;
	height: 130px;
}
.category-news-content .news-title {
	font-size: 13px;
	line-height: 27px;
}
.category-news-content .news-title h1 a,.category-news-content .news-title h1{
    font-size: 19px;
    text-align: left;
    color: var(--black);
    line-height: 25px;
}
.news-content{
	margin-top: 10px;
}
.news-content p, .news-content {
	font-size: 13px;
	line-height: 22px;
}

/** end of category new one section **/
/** category new two section **/
.category-news-two-section{
	display: block;
	overflow: hidden;
}
#category-news-two-section .category-news-items{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
     grid-row-gap: 30px;
}


#category-news-two-section .category-news-items .category-news-item .category-news-image img{
	height: 175px;
	object-fit: cover;
}
#category-news-two-section .category-news-content {
	background: #fafafa;
	padding: 10px 15px;
	margin-top: -5px;
}

/** end of category news two section **/
/** category news three section **/
#category-news-three-section .category-news-items{
	display: grid;
	grid-template-columns: repeat(4,1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}
#category-news-three-section .category-news-image img{
	height:175px;
	object-fit: cover;
}
/** end of category news three section **/
/** latest news **/
.latest-news-items{
	display: grid;
	grid-template-columns: repeat(3,1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}
.latest-news-item {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.latest-news-item .latest-news-image{
	width: 25%;
}
.latest-news-image img{
	width: 100%;
	height: 70px;
	object-fit: cover;
}

.latest-news-item .latest-news-title{
	width:72%;
}
.latest-news-title h1,.latest-news-title h1 a {
    font-size: 15px;
    color: var(--black);
}
/** end of latest news **/
/** footer **/
.footer-img img {
	width: 100%;
}
.footer {
	padding-top: 40px;
	position: relative;
	box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.1);
}
.footer:after{
	position: absolute;
	content: '';
	background: url('../images/footer3.png') no-repeat;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 65%;
	z-index: -1;
	bottom:0px;
	left: 0px;

}
.footer-items{
	display: flex;
	flex-flow: row wrap;
}
.footer-items .footer-item{
	width:25%;
}
.footer-items .footer-item:last-child{
	width:45%;
}
.footer-contact-info h1 {
	font-size: 24px;
	margin-bottom: 15px;
}
 .footer-contact-info h1 span{
	color: var(--themeColor);
}
.footer-contact-list li {
	line-height: 28px;
	font-size: 15px;
}
.footer-title{
	margin-bottom: 15px;
}
.footer-title h2{
	font-size: 18px;
	color: var(--themeColor);
}
.footer-nav-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.footer-nav-list li {
	width: calc(100% / 2 - 15px);
	line-height: 40px;
}
.footer-nav-list li a{
	font-size: 16px;
	color: var(--black);
}
.team-items {
	display: grid;
	grid-row-gap: 30px;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 20px;
}
.team-item p {
	font-size: 16px;
	margin-bottom: 10px;
}
.team-item h5{
	font-size: 18px;
}
.last-footer {
	text-align: center;
	border-top: 1px solid #eee;
	margin-top: 40px;

}
.last-footer p{
	line-height: 45px;
}
/** end of footer  **/
/** single news **/
.single-news-block .row-wrapper{
	justify-content: space-between;
}
.single-news-wapper{
	width:73%;
}
.sidebar-news-wrapper {
	width: 25%;
}
.single-news-image img {
	height: 350px;
	object-fit: cover;
	width: 100%;
}
.single-content-wrapper h1 {
	font-size: 28px;
}
.single-news-content {
	margin-top: 15px;
}
.single-news-content h1,.single-news-content h2,.single-news-content h3,.single-news-content h4,.single-news-content h5,.single-news-content h6{
	font-size:16px;
}
.single-news-content p,.single-news-content ul li{
	font-size: 14px;
	line-height: 25px;
}
.side-news-title {
	background: var(--themeColor);
	color: var(--white);
	padding: 3px 10px;
}
.sidebar-news-list {
	padding: 10px 25px;
	background: #fafafa;
}
.single-date-wrapper{
	margin-top: 10px;
}
.single-date-wrapper ul {
	display: flex;
	column-gap: 20px;
}
 .single-date{
	color: var(--primaryColor);
	font-size: 14px;
}
.single-day{
	font-size: 14px;
}
.sidebar-news-list li a {
	font-size: 16px;
	line-height: 24px;
	color: var(--black);
}
.sidebar-news-list li {
	margin-bottom: 15px;
	list-style: circle;
	display: flex;
	align-items: flex-start;
	position: relative;
}
.sidebar-news-list li::after {
	width: 8px;
	height: 8px;
	background: var(--red);
	position: absolute;
	content: '';
	border-radius: 50%;
	left: -15px;
	top: 8px;
}
/** end of single news  **/
/** category list news **/
.category-news-block .row-wrapper{
	justify-content: space-between;
}
.category-list-block {
	width: 72%;
	display: flex;
	flex-flow: row wrap;
	row-gap: 20px;
}
.category-item .row-wrapper {
	justify-content: space-between;
}
.category-list-image {
	width: 25%;
}
.category-list-content-wrapper {
	width: 72%;
}
.category-list-content-wrapper h1 {
	font-size: 21px;
	line-height: 28px;
}
.category-list-date ul {
	display: flex;
	column-gap: 20px;
}
.category-list-image img {
	width: 100%;
	height: 150px;
	object-fit: cover;
}
.category-list-date {
	margin-top: 5px;
}
.category-list-content p {
	font-size: 14px;
	line-height: 24px;
}
.category-list-content {
	margin-top: 15px;
}
.kanoon-list-wrapper {
	width: 100%;
}
.kanoon-item {
	margin-bottom: 15px;
}
.kanoon-sub-item {
	padding-left: 25px;
	padding: 20px;
}
.kanoon-button {
	background: none;
	border: 0;
	font-size: 18px;
	color: var(--primaryColor);
	display: flex;
	align-items: center;
	column-gap: 5px;
}
.kanoon-sub-item{
	display: none;
}
.kanoon-sub-item ul li {
	position: relative;
	line-height: 27px;
	list-style: disc;
}
.sidebar-news-list li a:hover {
	background: ;
	color: var(--red);
}
.kanoon-sub-item ul li a {
	color: var(--black);
	font-size: 16px;
}
.kanoon-sub-item ul li a:hover{
	color: var(--red);
}
/** end of category list news **/


/** about page css **/

.about-content-wrapper p {
	font-size: 16px;
	line-height: 25px;
}

/** end of about page **/
/** contact page **/
.contact-block .row-wrapper{
	justify-content: space-between;
}
.left-contact-wrapper{
	width: 72%;
}
.form-group{
	margin-bottom: 15px;
}
.form-group label {
	width: 100%;
	display: block;
	font-size: 16px;
	margin-bottom: 10px;
}

.form-group input.form-input {
	width: 100%;
	font-size: 16px;
	color: #ddd;
	text-indent: 10px;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
textarea.form-input{
	width: 100%;
	font-size: 16px;
	color: #ddd;
	text-indent: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.contact-btn {
	background: var(--themeColor);
	border: 0px;
	font-size: 21px;
	padding: 7px 20px;
	color: #fff;
	font-size: 18px;
}


/** end of contact page **/

#category-news-two-section .category-news-content {
	border-bottom: 5px solid var(--themeColor);
}
#category-news-two-section .category-news-item,#category-news-three-section .category-news-item  {
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
}
#category-news-three-section .category-news-content {
	background: #fafafa;
	padding: 10px 15px;
	margin-top: -5px;
	border-bottom: 5px solid var(--themeColor);
}
.popup-block {
	background: rgba(0,0,0,0.5);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999999;
	height: 100%;
	display: none;

}
.popup-wrapper{
	width: 20%;
	background: #fff;
	height: 100%;
	transition: 0.5s;
	transform: translate(-100%);
	overflow-y: auto;
}
.popup-header-wrapper {
	background: var(--themeColor);
	padding: 5px 15px;
	display: flex;
}
.popup-header-wrapper h1{
	font-size: 18px;
	color: var(--white);
}
.popup-dismiss {
	margin-left: auto;
	background: none;
	border: 0;
	font-weight: 800;
	font-size: 18px;
	color: var(--black);
}
.link-list {
	padding: 15px 20px;
}
.link-list .link-item h5 {
	font-size: 16px;
}
.link-list .link-item p{
	margin-top: 5px;
}
.link-list .link-item p a {
	font-size: 14px;
	color: var(--primaryColor);
}
.link-list .link-item p a:hover{
	color: var(--red);
}
.link-item {
	margin-bottom: 20px;
}